
body {

}

.firstwordletters {
  text-align: center;
  font-size: 50px;
}

#letterzero{
  display: inline;
  padding: 10px;
}

#letterone {
  display: inline;
  padding: 10px;
}

#lettertwo {
  display: inline;
  padding: 10px;
}

#letterthree {
  display: inline;
  padding: 10px;
}

#letterfour {
  display: inline;
  padding: 10px;
}

#letterfive {
  display: inline;
  padding: 10px;
}

#lettersix {
  display: inline;
  padding: 10px;
}
