$hotpink: #ff446a;

%letterboxes {
  display: inline-block;
  background-color: white;
  margin: 40px 10px 10px 10px;
  text-align: center;
  width: 80px;
  height: 80px;
  padding-top: 20px;

}


body {
  font-family: 'Didact Gothic', sans-serif;

}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Monofett', cursive;
  color: $hotpink;
}

.firstwordletters {
  background: linear-gradient(0deg, #ff446a, #ffffff);
  width: 1050px;
  height: 200px;
  font-size: 50px;
  text-align: center;
  margin: 0px auto;
}

.letterstuff {
  text-align: center;
}

.guessstuff {
  text-align: center;
}

.hintstuff {
  text-align: center;
}

#letterzero{
  @extend %letterboxes;
}

#letterone {
  @extend %letterboxes;
}

#lettertwo {
  @extend %letterboxes;
}

#letterthree {
  @extend %letterboxes;
}

#letterfour {
  @extend %letterboxes;
}

#letterfive {
  @extend %letterboxes;
}

#lettersix {
  @extend %letterboxes;
}

#letterseven {
  @extend %letterboxes;
}

#lettereight {
  @extend %letterboxes;
}

#guessbox {
  font-size: 20px;
  padding: 5px;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

#guessbox:focus {
  outline: none;
}

button {
  font-size: 20px;
  background-color: $hotpink;
  border: none;
  text-decoration: none;
  padding: 10px;
  font-family: 'Didact Gothic', sans-serif;
  margin: 20px;
}

button:focus {
  outline:none;
}

button:hover {
  background-color: #ff93b9;
}

#congratsspot {
  font-size: 100px;
  text-align: center;
}

#hintspot {
  font-size: 30px;
}

.tries {
  font-size: 30px;
}
